{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "A simple, free REST API serving random memes scraped from Reddit.",
        "title": "Meme API",
        "contact": {},
        "version": "1.0.0"
    },
    "host": "meme-api.aelx.de",
    "basePath": "/",
    "paths": {
        "/gimme": {
            "get": {
                "description": "Returns a single random meme from one of the default subreddits (memes, dankmemes, me_irl).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "memes"
                ],
                "summary": "Get a random meme",
                "parameters": [
                    {
                        "enum": [
                            "hot",
                            "new",
                            "top"
                        ],
                        "type": "string",
                        "default": "hot",
                        "description": "Reddit sort method",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": true,
                        "description": "Include NSFW posts",
                        "name": "nsfw",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": true,
                        "description": "Include spoiler posts",
                        "name": "spoiler",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.OneMeme"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/response.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/response.Error"
                        }
                    }
                }
            }
        },
        "/gimme/{count}": {
            "get": {
                "description": "Returns up to 50 random memes from one of the default subreddits.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "memes"
                ],
                "summary": "Get N random memes",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Number of memes (1–50)",
                        "name": "count",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "hot",
                            "new",
                            "top"
                        ],
                        "type": "string",
                        "default": "hot",
                        "description": "Reddit sort method",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": true,
                        "description": "Include NSFW posts",
                        "name": "nsfw",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": true,
                        "description": "Include spoiler posts",
                        "name": "spoiler",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.MultipleMemes"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/response.Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/response.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/response.Error"
                        }
                    }
                }
            }
        },
        "/gimme/{subreddit}": {
            "get": {
                "description": "Returns a single random meme from the specified subreddit.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "memes"
                ],
                "summary": "Get a random meme from a subreddit",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Subreddit name (alphanumeric + underscores, max 50 chars)",
                        "name": "subreddit",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "hot",
                            "new",
                            "top"
                        ],
                        "type": "string",
                        "default": "hot",
                        "description": "Reddit sort method",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": true,
                        "description": "Include NSFW posts",
                        "name": "nsfw",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": true,
                        "description": "Include spoiler posts",
                        "name": "spoiler",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.OneMeme"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/response.Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/response.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/response.Error"
                        }
                    }
                }
            }
        },
        "/gimme/{subreddit}/{count}": {
            "get": {
                "description": "Returns up to 50 random memes from the specified subreddit.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "memes"
                ],
                "summary": "Get N random memes from a subreddit",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Subreddit name (alphanumeric + underscores, max 50 chars)",
                        "name": "subreddit",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Number of memes (1–50)",
                        "name": "count",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "hot",
                            "new",
                            "top"
                        ],
                        "type": "string",
                        "default": "hot",
                        "description": "Reddit sort method",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": true,
                        "description": "Include NSFW posts",
                        "name": "nsfw",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": true,
                        "description": "Include spoiler posts",
                        "name": "spoiler",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.MultipleMemes"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/response.Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/response.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/response.Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "response.Error": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "response.MultipleMemes": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer"
                },
                "memes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/response.OneMeme"
                    }
                }
            }
        },
        "response.OneMeme": {
            "type": "object",
            "properties": {
                "author": {
                    "type": "string"
                },
                "nsfw": {
                    "type": "boolean"
                },
                "postLink": {
                    "type": "string"
                },
                "preview": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "spoiler": {
                    "type": "boolean"
                },
                "subreddit": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "ups": {
                    "type": "integer"
                },
                "url": {
                    "type": "string"
                }
            }
        }
    }
}